.sidebar {
  width: 40%;
  float: right;
  background-color:lightpink;
  border: dashed black;
  padding: 10px;
  margin: 10px;
}
.main {
  font-family: sans-serif;
}
h1 {
  color: red;
}
img {
  padding: 4px;
}